@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
	font-size: 100%;
	font-family: 'Roboto', system-ui;
}
body {
	background-color: #fff;
}
.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 20px;
}
header {
	text-align: center;
	padding: 40px 0;
}
.logo {
	padding-top: 45px;
	padding-bottom: 45px;
	padding-left: 100px;
}
nav .logo-menu {
	list-style: none;
	display: flex;
	gap: 50px;
}
nav .logo-menu li a {
	font-size: 80px;
	color: #4bcaff;
	text-decoration: none;
	font-weight: 300;
}
nav .main-menu {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
}
nav .main-menu li a {
	font-size: 22px;
	line-height: 22.22px;
	color: #fff;
	font-weight: 300;
	text-decoration: none;
	border: 1px solid black;
}

.menu-back {
	background-color: #35444f;
	padding: 15px;
	margin-left: 100px;
	margin-right: 66px;
	margin-bottom: 50px;
}

nav .main2-menu li a {
	font-size: 22px;
	line-height: 22.22px;
	color: #485863;
	font-weight: 300;
	text-decoration: none;
}

.menu2-back {
	padding: 15px;
	margin-top: -225px;
	margin-left: 100px;
	margin-right: 60px;
	margin-bottom: 50px;
	border: 1px solid black;
}

.menu2-item {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 35px;
}
.hero-banner img {
	height: auto;
	margin-top: -10px;
	margin-left: 0;
	padding-left: 200px;
	padding-right: 250px;
	padding-top: 80px;
	padding-bottom: 80px;
	margin-right: 0px;
	border: 1px solid black;
	margin-bottom: 60px;
}
main {
	display: flex;
	align-items: center;
}
.description {
	font-size: 18px;
	line-height: 22.22px;
	font-weight: 300;
	width: 100%;
	max-width: 790px;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-left: 400px;
}

nav .main3-menu {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
}
nav .main3-menu li a {
	font-size: 22px;
	line-height: 22.22px;
	color: #0c1927;
	font-weight: 400;
	text-decoration: none;
}

.menu3-back {
	background-color: #b4b7ba;
	padding: 15px;
	margin-left: 100px;
	margin-right: 66px;
	margin-bottom: 50px;
}
.menu33-item {
	font-size: 20px;
	line-height: 22.22px;
	color: #0c1927;
	font-weight: 400;
	text-decoration: none;
	padding-left: 150px;
}
